<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title Oh Lalá PH</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href='https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width" />
        
        <script type="text/javascript" src="/Scripts/jquery-1.12.2.min.js"></script>
    @*    @Scripts.Render("~/bundles/jquery")*@
@*        @RenderSection("scripts", required: false)*@
        @Scripts.Render("~/bundles/scripts")
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div id="logo" class="float-left">
                    <center class="noselect" >
                        <img src="/Images/logo.png" alt="logo" width="200px"/>
                    </center>    
                </div>
                <div id="logo_c" class="float-left">
                    <center class="noselect">
                        <img src="/Images/camera.png" alt="logo" width="75px"/>
                    </center>    
                </div>
@*                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>*@
                <div id="menu" class="float-left">
                    <center class="noselect">
                        <ul>
                            <li id="menuItem1" ><a onclick="location.href='../Home/Index'">Inicio</a></li>
                            <li id="menuItem2" ><a href="#porfolio">Portfolio</a></li>
                            <li id="menuItem3" ><a onclick="location.href='../Home/About'">Nosotras</a></li>
                            <li id="menuItem4" ><a onclick="location.href='../Home/Contact'">Contacto</a></li>
                        </ul>
                    </center>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div id="social" class="noselect">
                <div id="inst" onclick="window.open('https://www.instagram.com/ohlalaph/','_blank');">
                    @*<a target="_blank" href="https://www.instagram.com/ohlalaph/" style="display: none"></a>*@ 
                </div>
                <div id="face" onclick="window.open('https://www.facebook.com/OhLalaPH/','_blank');">
                    @*<a target="_blank" href="https://www.facebook.com/OhLalaPH" style="display: none"></a>*@
                </div> 
            </div>
            <div class="content-wrapper">
                <div class="float-left">
                    <p id="textFooter">&copy; @DateTime.Now.Year - Oh Lalá Producciones Fotográficas</p>
                </div>
            </div>
        </footer>
    </body>
</html>
