@model OhlalaPH.Models.ContactModels

<center>
@using (Html.BeginForm()) 
{ 
    <aside class="asideForm">
        @Html.ValidationSummary(true)
        <div class="row">
            @Html.LabelFor(model=>model.Name, "Nombre:")
            @Html.EditorFor(model=>model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="row">
            @Html.LabelFor(model=>model.Email,"Mail:")
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="row">
            @Html.LabelFor(model => model.Tel, "Teléfono:")
            @Html.EditorFor(model => model.Tel)
            @Html.ValidationMessageFor(model => model.Tel)
        </div>
        <div class="row">
            @Html.LabelFor(model=>model.Comment,"Consulta:")
            @Html.TextAreaFor(model=>model.Comment)
            @Html.ValidationMessageFor(model=>model.Comment)
        </div>
        <div class="buttons">
            <div class="row">
                <input type="submit" value="Enviar" />
                <input type="reset" value="Limpiar Campos" />
            </div>
        </div>
    </aside>
}
</center>