@model OhlalaPH.Models.ContactModels


<center>
    <h3 id="pageTitle">Contacto</h3>
@using (Html.BeginForm("HandleForm", "Home", FormMethod.Post, new { @class = "formContact"}))
{ 
    <section class="sectionForm">
        <center id = "centerForm">
            @Html.ValidationSummary(true)
            @Html.TextBox("name", null, new { @class = "input" ,placeholder = "Nombre", id = "text" })
            @Html.ValidationMessage("Name")
            <br>
            @Html.TextBox("mail", null, new { @class = "input", placeholder = "Mail", id = "text" })
            @Html.ValidationMessage("Mail")
            <br>
            @Html.TextBox("tel", null, new { @class = "input", placeholder = "Teléfono", id = "text" })
            @Html.ValidationMessage("Tel")
            <br>
            @Html.TextArea("msg", null, new { @class = "input", placeholder = "MENSAJE", id = "text" })
            @Html.ValidationMessage("Mensaje")
            <br>
            <input class = "button" type="submit" id = "buttonSubmit" value="Enviar"/>
            <input class = "button" type="reset" id = "buttonReset" value="Limpiar Campos"/>
        </center>
    </section>
}
</center>